*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */ 
header {
    padding: 0 30px;
    border: solid #b9b9b9 1px;
}

/*título*/
.navbar-brand {
    font-size: 2em;
}

/* Corpo da página */
body {
    font-family: system-ui;
    background-color: #fcfcfc; /* Offwhite */
    color: #333;
}

/* Container principal */
.container {
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

img, video {
    object-fit: cover;
}

/* Rodapé */
footer {
    background-color: #183377; /* Azul */
    color: #fff;
    padding: 50px 50px;
}

footer span {
    margin: 0;
}

.css-btn {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.azul {
    background-color: #2400d7;
}
.azul:hover {
    background-color: #1b00a4;
}

.vermelho {
    background-color: #df0000;
}
.vermelho:hover {
    background-color: #a20000;
}