header {
    margin: 0 0 90px 0;
    border-bottom: solid 1px #c3c3c3;
}

aside {
    min-width: 30%;
    border-right: solid 1px #c3c3c3;
    padding: 0 10px;
}
section {
    min-width: 70%;
    padding: 0 10px;
}

@media(max-width: 1160px){
    aside {
        min-width: 100%;
        padding: 10px 10px 100px 10px;
    }
    section {
        min-width: 100%;
    }
    
   }